<div class=" text-center">
    <mat-card style="margin-left: 300px; margin-right: 300px; height: calc( 100vh - 64px ); position: relative; min-width: 800px;" class="custom-mat-card">
        <mat-card-content class="py-8">
            <h1 class="animated-text"style="font-size: 3rem; line-height: 3rem;">¡Bienvenido al Aplicativo Historial de Incidentes Gestionados de SURA!</h1>
            <hr>
            <img src="assets/Images/logo.png" width="45%" style="margin-left: 2%;"
            class="animated-image my-6">
            <br>
            <p class="animated-text" style="font-size: 2rem; line-height: 3rem;">Aquí encontrarás una herramienta <span class="text-bold">ágil</span> y <span class="text-bold">eficiente</span> para registrar y resolver <span class="text-bold">incidentes</span> de manera rápida. Simplifica tu gestión diaria y mantén un <span class="text-bold">historial detallado</span> de cada intervención. ¡Comienza a explorar ahora mismo!</p>
            <p style="position: absolute; bottom: 30px; left: 39%;">©CopyRight 2024. Todos los derechos reservados</p>
        </mat-card-content>
    </mat-card>
    
</div>

<img src="assets/Images/tigre.png"
    style="position: fixed; bottom: 0; right: 0; width: 15%;">